body{
    font-family: 'Open Sans', sans-serif;  
}
header{
    background-color: #149777;
    margin-top: -7.6px;
    margin-left: -7.6px;
    margin-right: -8.5px;
}
.chat2,
.message{
    cursor: pointer;
}
.message{
    display: none;
}
#messe{
    padding-left: 41px;
}
#mess{
    font-size: 1.25em;
}
#ct2{
    padding-top: 5px;
    margin-left: -3px;
}
nav{
    display: flex;
}
#ms{
    margin-left: -4px;
    margin-top: -3px;
}
.see{
    display: none;
}
.oo{
    display: flex;
    margin-left: 395px;
}
.hum{
    display: none;
}
.do{
    padding-left: 155px;
    cursor: pointer;
}
.do2{
    display: none;
}
.head{
    color: #fff;
    display: flex;
    margin-left: -2px;
}
#c{
    padding-left: 13px;
    margin-top: -1px;
}
.co{
    font-size: 12px;
    padding-top: -15px;
    padding-left: 9px;
}
.header{

    color: #fff;
    display: flex;
    cursor: pointer;
}
.heade{
    color: #fff;
    display: flex;
    margin-left: 39px;
}
.location #modal:checked ~ .modal-btn{
    display: none;
} 
.bangla{
    color: #fff;
    border: 1px solid #007168;
    font-size: 12px;
    margin-left: 24px;
    margin-top: 15px;
    margin-bottom: 22px;
    padding: 7px 12px;
    border-radius: 4px;
    /*cursor: pointer;*/
}
.post{
    background-color: #ffc800;
    color: #673500;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    margin-left: 39px;
    margin-top: 9px;
    margin-bottom: 16px;
    font-size: 14px;
    padding: 12px 14.5px;
    padding-bottom: 10px;
}
.chat{
    display: flex;
    margin-left: 395px;
}
.chat2{
    padding-top: 2px;
    font-size: 13px;
    padding-top: -13px;
    padding-left: 14px;
}
.all_bangladesh{
    font-family: inherit;
    background-color: #10846f;
    border: none;
    color: #fff;
    border-radius: 30px;
    padding: 6px 12px 6px 10px;
    font-size: 14px;
    margin-bottom: 15px;
    display: flex;
    margin-left: -1px;
    margin-top: -7px;
    cursor: pointer;
}
.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6.7vh;
    height: 23vh;
}
#facebook{
    padding-top: 10px;
    padding-right: 7px;
    margin-left: 7px;
}
#input{
    background-color: #fff;
    outline: 0;
    overflow: visible;
    border: none;
    height: 8.5vh;
    width: 112vh;
    margin-top: 1px;
    border-top-left-radius: 33px ;
    border-bottom-left-radius: 33px ;
    margin-left: 0;
    color: black;
    padding-top: 3px;
    letter-spacing: .05em;
    font-size: 17px;
}
.magnefyne{
    background-color: #fff;
    padding-right: 5px;
    padding-left: 27px;
    height: 9.1vh;
    margin-top: 1px;
    border-top-right-radius: 33px;
    border-bottom-right-radius: 33px;
}
.button2{
    margin-top: 4px;
    background-color: #ffc800;
    border: none;
    counter-reset: #673500;
    padding: 12px;
    margin-left: 1px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 50%;
    cursor: pointer;
}
.browse{
    font-family: 'Open Sans', sans-serif;  
    font-size: 14px;
    margin-left: 165px;
    margin-top: 28px;
    color: #2f3432;
    font-weight: 800;
}
.brows{
    font-family: inherit;
    display: inline-block;
    font-weight: 800;
    color: #2f3432;
    font-size: 15px;
    padding-left: -15px;
    margin-top: 47.7px;
    margin-left: 181px;
    margin-bottom: 30px;
}
.category{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 200px;
    margin-right: 145px;
    margin-top: 35px;
}
.all{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-bottom: 12vh;
}
.gr{
    font-size: 15px;
    color: #424e4e;
    line-height: 1.8;
    margin-top: -7px;
}
.c,
.fb,
.t,
.show,
.less,
.i1,
.i2,
.more,
.gr,
.free,
.icon,
.text1,
.text2,
.text3,
.text4{
    cursor: pointer;
}
.text1{
    margin-left: -20px;
}
.text2{
    margin-left: -11px;
    margin-top: -1px;
}
.text3{
    margin-left: -17px;

}
.text4{
    margin-top: -1px;
    margin-left: -21px;
}
.icon1{
    padding-top: 10px;
    margin-left: -10px;
}
.icon2{
    padding-top: 10px;
    margin-left: -5px;
}
.icon{
    font-size: 1.2em;
    padding-top: 10px;
    padding-right: 20px;
}
.iconic{
    padding-top: 7px;
    padding-right: 20px;
    margin-left: -4px;
}
.conn{
    margin-top: 30px;
    font-size: 15px;
    color: #424e4e;
    font-weight: 700;
    letter-spacing: 0.01em;
}
.carec{
    padding-top: -25px;
    color: #2f3432;
    font-size: 17px;
    padding-bottom: 3px;
    letter-spacing: 0.02em;
}
.num{
    font-size: 12px;
    color: #707676;
}
.medium{
    display: flex;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,.1);
    margin-left: 179px;
    margin-right: 181px;
    border-radius: 10px;
    letter-spacing: 0.03em;
    height: 31vh;
} 
.money{
    display: flex;
    line-height: 19px;
    height: 31vh;
    padding-right:37px;
}
.h{
    color: #2f3432;
    line-height: 28px;
    padding-top: 15px;
    display: inline-block;
    font-size: 21px;
    margin-bottom: 10px;
}
.start{
    display: flex;
    flex-direction: column;
    padding-left: 19px;
}
.ji{
    margin-top: -1px;
    /* width: 0.1px; */
    background-color: #d4d3d9;
    height: 30.5vh;
    display: inline-block;
    margin-left: -1px;
    margin-right: -1px;
}
.sell{
    color: #424e4e;
    font-size: 15px;
    line-height: 19px;
    padding-top: -10px;
}
.free{
    color: #673500;
    background-color: #ffc800;
    padding: 12px;
    font-weight: 700;
    border: none;
    border-radius: 30px;
    width: 80%;
    margin-top: 20px;
    font-family: inherit;
    font-size: 15px;
}
#modal {
    display: block;
    visibility: hidden;
}
counting.pop-up{
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
}
.pop-up{
    display: none;
    margin-left: 181px;
    margin-right: 193px;
}
.counting #modal:checked ~ .pop-up{
    display: block;
    color: #707676;
}
.counting #modal:checked ~ .show{
    display: none;
}
.jobs{
    padding-left: 25px;
}
.job{
    background-color: blue;
    color: #ffffff;
    padding-top: 11px;
    padding-left: 5px;
    padding-right: 7px;
    font-size: 18px;
    margin-top: 15px;
}
.i{
    display: flex;
    margin-top: 8px;
}
.i1{
    height: 45px;
    padding-right: 18px;
}
.i2{
    height: 45px;
}
.j{
    display: flex;
    margin-top: 7px;
    margin-bottom: 15px;
}
.hire{
    color: #424e4e;
    font-size: 15px;
    margin-left: -9px;
}
.explore{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.more{
    font-size: 15px;
    margin-top: 19px;
    background-color: #0074ba;
    border: none;
    color: #ffffff;
    padding: 14px 16px;
    border-radius: 30px;
    font-weight: 600;
    width: 50%;
    margin-left: -10px;
    letter-spacing: 0.03em;
}
.main{
    /* display: grid;
    grid-template-columns: repeat(4,1fr); */
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 180px;
    margin-right: 180px;
}
.lc{
    color: #2f3432;
    font-weight: 700;
    font-size: 15px;
    padding-top: 20px;
    line-height: 3.5;
}
.one,
.two,
.three,
.four{
    width: 22%;
    background-color: #f3f6f5;
    padding: 5px;
    border-radius: 5px;
    height: 50vh;
    padding-right: 10px;
    padding-left: 10px;
}
.about{
    margin-top: 20px;
    color: #707676;
    font-size: 17px;
    line-height: 1.71428571;
    font-weight: bold;
    margin-bottom: -12px;
}
#about{
    font-size: 15px;
}
#cl{
    margin-bottom: -5px;
}
.c{
    color: #0074ba;
    font-size: 15px;
    letter-spacing: 0.03em;
}
.bikroy{
    margin-left: 181px;
    margin-right: 167px;
    color: gray;
}
.cl{
    font-size: 15px;
    letter-spacing: 0.03em;
    line-height: 1.8;
}
.cla{
    font-size: 15px;
    letter-spacing: 0.03em;
    line-height: 1.8;
}
.div{
    height: 2px;
    width: 101.1%;
    margin-left: -8px;
    background-color: #10846f;
}
.div2{
    height: 1px;
    width: 75.5%;
    margin-left: 181px;
    background-color: lightgrey;
    margin-top: 25px;
    margin-bottom: 30px;
}
.show{
    color: #707676;
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 18px;
    margin-left: 181px;
    padding-bottom: 8px;
    letter-spacing: 0.03em;
}
.less{
    color: gray;
    margin-top: 35px;
    margin-bottom: 30px;
}
.down{
    color: #424e4e;
    font-size: 15px;
    margin-top: -10px;
    letter-spacing: 0.03em;
    
}
.fb{
    display: flex;
}
.a{
    padding-top: 20px;
}
.b{
    padding-top: 20px;
}
.t{
    color: #1441f4;
    font-size: 15px;
    font-weight: 700;
}
.t9{
    color: #1441f4;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 20px;
    letter-spacing: 0.03em;
    margin-top: -10px;
}
.d{
    margin-top: -3px;
    margin-right: 80px;
}
.footer{
    display: flex;
    margin-left: 181px;
    margin-top: 17px;
    align-items: flex-start;
}
.from{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 42px;
    margin-top: 5px;
    color: #424e4e;
    line-height: 1.6    ;
}
.mfb{
    font-size: 15px;
}
#sup{
    margin-right: 70px;
    margin-left: 9px;
}
#abou{
    margin-right: 80px;
}
#from{
    margin-left: -20px;
}
a{
    color: blue;
    display: inline-block;
}
.la{
    margin-top: -6px;
}
.di{
    background-color: 3px solid red;
    margin-top: 20px;
    margin-bottom: 20px;
}
.copy{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.cd{
    margin-left: 179px;
    font-size: 15px;
    margin-top: -10px;
    letter-spacing: 0.02em;
}
.ban{
    display: none;
}
.he{
    display: none;
}
.div3{
    display: none;
}
.ot{
    font-size: 15px;
    font-weight: 700;
    color: #424e4e;
    letter-spacing: 0.03em;
    margin-top: 20px;
}













@media (max-width:600px)
{
    .head,
    .bangla,
    .post{
        display: none;
    }
    .oo{
        margin-left: 310px;
    }
    header{
        width: 104%;
    }
    .chat{
        margin-left: 652px;
    }
    .chat2{
        display: none;
    }
    .heade{
        margin-left: 25px;
    }
    .do{
        padding-left: 5px;
        display: block;
        padding-right: 0;
        margin-top: -2px;
    }
    .do2{
        display: none;
    }
    .hum{
        display: block;
        color: #ffffff;
        font-size: 18px;
        padding-left: 20px;
        padding-top: 15px;
    }
    .message,
    .hum{
        display: block;
        color: #ffffff;
        font-size: 18px;
        padding-left: 20px;
        padding-top: 15px;
    }
    .message{
        margin-left: -145px;
        padding-left: 0;
    }
    .navigation{
        width: 8.3%;
        height: 7.5vh;
        padding-top: 5px;
    }
    .all_bangladesh{
        font-size: 14px;
        margin-top: -33px;
        padding: 7px;
    }
    #input{
        height: 5.9vh;
        width: 40vh;
        font-size: 14px;
        margin-left: 0;
        color: lightgrey;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        margin-top: 0;
    }
    .magnefyne{
        padding: 15px;
        padding-top: 11px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        height: 3.1vh;
        padding-bottom: 13px;
        margin-top: 0;
    }
    .input{
        height: 12vh;
    }
    .button2{
        margin-left: 24px;
        padding: 10px;
        padding-left: 7px;
        padding-right: 7px;
        margin-right: -12px;
        margin-top: -11px;
    }
    .browse{
        font-size: 14px;
        color: #2f3232;
        padding-top: 20px;
        margin-left: 13px;
        margin-top: 0;
        letter-spacing: 0.0em;
    }
    b{
        margin-left: 0;
    }
    .se{
        display: flex;
        padding-top: 12px;
        margin-left: -5px;
       /* grid-template-columns: repeat(2,1fr);*/
    }
    .see{
        padding-top: 21px;
        font-size: 14px;
        color: #0074ba;
        display: block;
        margin-left: 147px;
    }
    section::-webkit-scrollbar{
        display: none;
      }
    .category{
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        margin-left: 10px;
        margin-right: 0;
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(16,1fr);
    }
    .all{
        display: inline-block;
        padding-left: 15px;
        text-align: center;
        padding-right: 15px;
        padding-bottom: 22px;
    }
    .icon{
        font-size: 14px;
        padding-top: 7px;
        padding-bottom: 20px;
    }
    .icon1{
        padding-left: 5px;
        font-size: 14px;
        padding-bottom: 20px;
    }
    .icon2{
        font-size: 14px;
        padding-bottom: 20px;
    }
    .iconic{
        font-size: 14px;
        padding-top: 7px;
        padding-bottom: 25px;
    }
    .carec{
        color: #2f3432;
        font-size: 13px;
        padding-left: 2px;
        padding-bottom: 9px;
    }
    .num{
        font-size: 12px;
        color: #707676;
    }
    .fa-2xl{
        font-size: 5rem;
    }
    .medium{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 0;
        height: auto;
        width: 100%;
        background-color: #f3f6f5;
    }
    .money{
        display: inline-block;
        background-color: #fff;
        margin-left: 0;
        width: 89%;
        margin-bottom: 30px;
        height: auto;
        padding-bottom: 30px;
        box-shadow: 0 2px 16px 0 rgba(0,0,0,.1);
    }
    .img{
        display: flex;
        padding-left: 100px;
        height: 180px;
        padding-bottom: 0;
        margin-bottom: -60px;
    }
    .h{
        font-size: 18px;
        margin-left: 0;
        font-weight: 600;
        margin-bottom: 0;
    }
    .sell{
        font-size: 14px;
        font-weight: 300;
        margin-left: 0;
    }
    .explore{
        padding-bottom: 15px;
    }
    .start{
        text-align: center;
    }
    .sp{
        padding-left: 0;
        padding-bottom: 20px;
    }
    .jobs{
        width: 100%;
        padding-left: 0;
        background-color: #fff;
        box-shadow: 0 2px 16px 0 rgba(0,0,0,.1);
    }
    .j{
        padding-left: 90px;
    }
    .free{
        margin-top: 10px;
        font-size: 14px;
        border-radius: 50px;
        padding-top: 9px;
        padding-bottom: 9px;
        margin-left: 50px;
        text-align: center;
    }
    .pop-up{
        margin-top: -40px;
    }
    .so{
        padding-left: 0;
        padding-bottom: 20px;
        font-size: 14px;
    }
    .s{
        margin-left: 0;
        font-size: 14px;
        width: 93%;
        display: inline-block;
        text-align: center;
    }
    .hire{
        font-size: 14px;
        text-align: center;
    }
    .more{
        font-size: 14px;
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 40px;
        margin-left: 80px;
    }
    .brows{
        margin-top: 30px;
        margin-left: 13px;
        font-weight: 700;
        font-size: 14px;
        color: #2f3432;
    }
    .one,
    .two,
    .three,
    .four{
        display: inline-block;
        height: 20vh;
        font-size: 14px;
        width: 27.5vh;
        margin-right: 30px;
        padding: 20px;
        padding-top: 0;   
    }
    gr{
        display: flex;
    }
    .main{
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        margin-left: 15px;
        margin-right: 0;
        margin-top: -10px;
    }
    .gr{
        /* display: grid;
        grid-template-columns: repeat(3); */
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }
    .about{
        font-size: 16px;
        margin-top: 50px;
        margin-left: -170px;
        margin-right: -500px;
        width: 50vh;
    }
    .cl{
        font-size: 14px;
        margin-left: -170px;
        margin-right: -600px;
        width: 50vh;
    }
    .cla{
        font-size: 14px;
        
        margin-left: -170px;
        margin-right: -600px;
        width: 50vh;   
    }
    .footer{
        margin-left: 0;
        text-align: center;
    }
    .show{
        font-size: 14px;
        margin-left: 150px;
    }
    .less{
        font-size: 14px;
        margin-left: -20px;
    }
    .b{
        font-size: 14px;
        margin-left: -170px;
        margin-right: -200px;
    }
    .div{
        height: 2px;
        width: 104.1%;
    }
    #mso{
        padding-left: 85px;
    }
    ullist{
        width: 40vh;
    }
    .from{
        display: none;
    }
    .d{
        margin-right: 0;
    }
    .down{
        font-size: 14px;
        padding-bottom: 20px;
        margin-left: 80px;
    }
    .i{
        padding-left: 90px;
        margin-top: 20px;
        margin-left: 0;
    }
    .fb{
        text-align: center;
        display: flex;
        font-size: 14px;
        padding-left: 120px;
        font-weight: 600;
        display: inline-block;
    }
    .i1{
        height: 30px;
        display: inline-block;
    }
    .i2{
        display: inline-block;
        height: 32px;
    }
    .conn{
        display: none;
    }
    .cd{
        display: none;
    }
    .t{
        font-size: 14px;
        margin-top: -17px;
        font-size: 14px;
        color: #3b5999;
    }
    .t9{
        margin-top: -13px;
    }
    .la{
        display: none;
    }
    .vanish{
        display: none;
    }
    #facebook{
        margin-left: -165px;
        display: inline-block;
        margin-right: 0;
    }
    .he{
        font-size: 14px;
        font-weight: 400;
        padding-left: 124px;
        color: #0074ba;
        display: flex;
    }
    .ji{
        display: none;
    }
    .ban{
        display: block;
        font-size: 14px;
        padding-left: 90px;
        /* margin-left: 101px;
        margin-right: 255px; */
        color: #0074ba;
        border-radius: 7px;
    }
    .ot{
        margin-top: 10px;
        padding-left: 100px;
        font-size: 14px;
        font-weight: 700;
    }
    .t9{
        padding-left: 50px;
        text-align: center;
        font-size: 14px;
    }
    .div2{
        display: none;
    }
    #tru{
        margin-top: 15px;
    }
    .div3{
        display: block;
        height: 1px;
        width: 131%;
        margin-left: -8px;
        background-color: gray;
        margin-top: 30px;
        margin-bottom: 10px;
    }
}