body{
    font-family: 'Open Sans', sans-serif;   
    position: relative;
    display: inline-block;
    background-color: #f3f6f5 !important;
}
header{
    background-color: #149777;
    margin-top: -7.6px;
    margin-left: -7.6px;
    margin-right: -8.5px;
}
.k{
    font-size: 14px;
    color: gray;
}
.tk{
    font-size: 14px;
    color: #007168;
    font-weight: 600;
}
.date{
    border: 1px solid lightgray;
    display: inline-block;
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 14px;
    color: #2f3432;
    border-radius: 3px;
    margin-bottom: 50px;
    margin-left: 13px;
}
.da{
    border: 1px solid lightgray;
    display: inline-block;
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 14px;
    color: #2f3432;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.next{
    color: gray;
    text-align: center;
    padding-top: 30px;
}
.c2{
    width: 31.5vh;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0;
}
.slider{
    height: 310px;
    width: 450px;
    position: absolute;
    border-radius: 4px;
    top: 9.5%;
    left: 48%;
    transform: translate(-40%,-40%);
    /* box-shadow: 10px 25px 28px rgba(0, 0, 0, 0.3); */
    overflow: hidden;
  }
  .nw{
    display: flex;
    margin-top: 90px;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 40px;
    margin-bottom: 50px;
  }
  .on{
    color: #d4ded9;
  }
  .tw{
    color: #2f3432;
  }
  .th{
    color: #0074ba;
  }
  .images{
    width: 200px;
    height: 410px;
    padding-left: 70px;
    display: flex;
  /*  animation: slide-in 30s infinite;*/
  }
 /* @keyframes slide-in{
    0%{
      transform: translateX(0);
    }
    25%{
      transform: translateX(0);
    }
    50%{
      transform: translateX(-214%);
    }*/
    /* 60%{
      transform: translateX(-250%);
    } */
    /*75%{
        transform: translateX(-445%);
    }
    100%{
        transform: translateX(-665%);
    }
}  */
.images img{
  transition: all 0.15s ease;
} 
.al{
    padding-top: 20px;
    color: blue;
    font-size: 14px;
    display: inline-block;
}
.mobi{
    padding-left: 9px;
    font-size: 14px;
    font-weight: 600;
}
.m{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 2px;
}
.mp{
    color: blue;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 33px;
    display: inline-block;
}
.nm{
    display: inline-block;
}
.n{
    display: flex;
    flex-direction: column;
    margin-left: 7px;
}
.loca{
    font-size: 14px;
    font-weight: 700;
    color: #2f3432;
}
.location{
    display: flex;
    flex-direction: column;
}
.tion{
    display: inline-block;
}
.o{
    display: flex;
    flex-direction: column;
    margin-top: 333px;
    margin-left: 40px;
}
.home{
    display: flex;
    flex-direction: column;
}
.sort{
    width: 20%;
}
.oraga{
    margin-top: 10px;
    display: flex;
    border: 1px solid orange;
    padding: 8px;
    border-radius: 3px;
}
.oraga:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
} 
.sort{
    display: inline-block;
}
.j{
    font-size: 14px;
    color: gray;
    display: inline-block;
    padding-left: 35px;
}
.cat{
    font-size: 12px;
    color: gray;
    display: inline-block;
}
.conne{
    margin-top: 30px;
    font-size: 14px;
    color: #424e4e;
    font-weight: 700;
    letter-spacing: 0.01em;
}
.pg{
    display: none;
}
.type{
    margin-top: 15px;
}
.u{
    display: flex;
    margin-top: 11px;
    margin-left: -4px;
}
.m{
    display: inline-block;
}
h6{
    margin: 0;
}
.filt{
    font-size: 12px;
    color: grey;
}
.pic{
    display: inline-block;
}
.tex{
    display: inline-block;
    padding-left: 15px;
}
.fil{
    font-size: 12px;
    color: grey;
    margin-top: 50px;
}
nav{
    display: flex;
}
.head{
    color: #fff;
    display: flex;
    margin-left: -2px;
}
.bangla{
    color: #fff;
    border: 1px solid #007168;
    font-size: 12px;
    margin-left: 24px;
    margin-top: 15px;
    margin-bottom: 16px;
    padding: 7px 12.5px;
    border-radius: 4px;
}
.content{
    margin-top: 33px;
    border-radius: 3px;
    padding-top: 7px;
    background-color: #ffffff;
    margin-left: 165px;
    margin-right: 160px;
}
hr{
    width: 100%;
}
.post{
    background-color: #ffc800;
    color: #673500;
    border-radius: 5px;
    font-weight: 700;
}
.sort{
    margin-left: 13px;
}
/* .all_bangladesh{
    background-color: #10846f;
    border: none;
    color: #fff;
    border-radius: 30px;
    padding: 7px 17px 9px 17px;
    font-size: 14px;
    margin-bottom: 17px;
    display: flex;
    flex-direction: row;
    margin-left: -22px;
    margin-top: -1px;
} */
.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6.7vh;
    height: 23vh;
} 
#input{
    margin-top: -14px;
    background-color: #fff;
    outline: 0;
    overflow: visible;
    height: 6.5vh;
    border: 1px solid gray;
    border-right:none;
    width: 61.5vh;
    margin-left: 151px;
    border-top-left-radius: 50px ;
    border-bottom-left-radius: 50px ;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.01);
    letter-spacing: 0.03em;
}
.da{
    width: 30vh;
}
 .magnefyne{
    margin-top: -14px;
    background-color: #fff;
    padding-right: 3.3px;
    padding-left: 31px;
    border: 1px solid gray;
    border-left: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
} 
.main_content{
    display: flex;
    background-color: #ffffff;
    border-radius: 3px  ;
}
.button2{
    margin-top: 3px;
    background-color: #ffc800;
    border: none;
    counter-reset: #673500;
    padding: 8px;
    padding-top: 11px;
    padding-bottom: 10px;
    border-radius: 50%;
} 
.firt{
    display: flex;
    margin-left: 19px;
    margin-top: 15px;
}
.first{
    color: #007168;
    margin-top: -8px;
    margin-left: 3px;
}
.second{
    color: #007168;
    margin-top: -5px;
    padding-left: 103px;
}
#t1{
    margin-top: -5px;
}
.para{
    font-size: 14px;
    color: #707676;
}
#modal2 {
    display: block;
    visibility: hidden;
}
#ms{
    margin-left: -4px;
    margin-top: -3px;
}
#c{
    padding-left: 13px;
    margin-top: -1px;
}
.counting.pop-up{
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
}
.pop-up{
    display: none;
    margin-left: 161px;
    margin-right: 193px;
}
.counting #modal2:checked ~ .pop-up{
    display: block;
    color: #707676;
}
.counting #modal2:checked ~ .show2{
    display: none;;
}
.counting #modal2:checked ~ .bikroy{
    display: none;
}


.jobs{
    padding-left: 25px;
    border-left: 2px solid lightgray;
}
.job{
    background-color: blue;
    color: #ffffff;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 7px;
    font-size: 18px;
}
.filter{
    margin-bottom: 23px;
}
.i{
    display: flex;
    margin-top: 8px;
}
.i1{
    height: 40px;
    padding-right: 15px;
}
.i2{
    height: 40px;
}
.j{
    display: flex;
    margin-top: 7px;
    margin-bottom: 15px;
}
.about{
    color: #707676;
    font-size: 14px;
    line-height: 1.71428571;
}
.bikroy{
    margin-left: 161px;
    margin-right: 169px;
    color: grey;
}
.div{
    height: 2px;
    width: 101.1%;
    margin-left: -8px;
    background-color: #149777;
}
.div2{
    height: 1px;
    width: 74%;
    margin-left: 167px;
    background-color: gray;
    margin-top: 30px;
    margin-bottom: 20px;
}
.show{
    color: gray;
    margin-top: -20px;
    margin-bottom: 10px;
    margin-left: 32px;
    font-size: 15px;
}
.show2{
    color: gray;
    margin-top: -20px;
    margin-bottom: 5px;
    padding-bottom: 20px;
    margin-left: 161px;
    font-size: 14px;
}
.less{
    color: gray;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 14px;
}
.less2{
    color: gray;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 14px;
}
.down{
    color: #424e4e;
    font-size: 14px;
}
.fb{
    display: flex;
    margin-top: -3px;
    margin-bottom: 10px;
}
.s{
    color: #0074ba;
    font-size: 14px;
}
.t{
    font-size: 14px;
    font-weight: 700;
    color: #3b5999;
}
.d{
    margin-right: 60.3px;
}
.footer{
    display: flex;
    margin-left: 161px;
    margin-top: 17px;
    align-items: flex-start;
}
.from{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 42px;
    margin-top: 5px;
    color: #424e4e;
    line-height: 1.6;
    font-size: 14px;
}
a{
    color: blue;
    display: inline-block;
}
.di{
    background-color: 3px solid red;
    margin-top: 20px;
    margin-bottom: 20px;
}
.copy{
    display: flex;
    justify-content: space-between;
    padding-bottom: 18px;
}
.cd{
    margin-left: 165px;
    font-size: 14px;
}
.a{
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
}
.ab{
    color: #0074ba;
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
}
.l{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 210px;
    line-height: 1.5;
    margin-right: 200px;
    background-color: #f3f6f5;
}
.c5{
    font-size: 14px;
    color: #2f3432;
}
.llast{
    margin-left: 10px;
    margin-right: 10px;
}
.ss1{
    font-size: 12px;
    color: #646666;
}
.ho{
    margin-top: -10px;
    margin-left: 170px;
    font-size: 12px;
    display: inline-block;
    color: gray;
}
.ml{
    height: 152vh;
    margin-left: 25px;
    margin-top: -93px;
    width: 1px;
    background-color: gray;
}
.so{
    margin-left: 15px;
    color: gray;
    font-weight: 400;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 7px;
}
.po{
    color: rgba(0, 0, 0, 0.01);
}
.mb2{
    font-weight: 700;
    display: inline-block;
    font-size: 14px;
    color: #2f3432;
    margin-left: 50px;
}
.b{
    color: #424e4e;
    font-weight: 400;
    margin-left: 269px;
    font-size: 12px;
    margin-top: -48px;
}
.new{
    display: none;
} 
.modal-close{
    display: none;
}

#modal {
    display: block;
    visibility: hidden;
}
.pop{
    visibility: hidden;
}
.location #modal:checked ~ .modal-btn{
    display: none;
} 
.location #modal:checked ~ .modal-close{
    margin-top: 20px;
    display: block;
}
.location #modal:checked ~ .pop{
    visibility: visible;
    display: flex;
    flex-direction: column;
}
.ppm{
    margin-left: -34px;
}
.hum{
    display: none;
}
.co{
    font-size: 12px;
    padding-top: -15px;
    padding-left: 9px;
}
.message{
    display: none;
}
.do{
    padding-left: 155px;
}
.do2{
    display: none;
}
.t1{
    color: #424e4e;
    font-size: 14px;
    font-weight: 700;
    font-family: inherit;
    margin-left: 10px;
    padding-top: -4px;
}
.third{
    display: none;
}
.mem{
    font-size: 10px;
    background-color: gray;
    color: #ffffff;
    padding: 2px;
    border-radius: 3px;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 500;
    margin-top: -30px;
}
.amo,
.ano{
    display: none;
}
.oo{
    display: flex;
    margin-left: 395px;
}
.p1{
    color: #424e4e;
    font-size: 14px;
    font-weight: 700;
    padding-top: 10px;
}
.t2{
    color: #0074ba;
    font-size: 14;
}





















@media (max-width:600px){
    .message,
    .hum{
        display: block;
        color: #ffffff;
        font-size: 18px;
        padding-left: 20px;
        padding-top: 15px;
    }
    .oo{
        margin-left: 310px;
    }
    .message{
        display: block;
        margin-left: -157px;
    }
    #mso{
        padding-left: 95px;
    }
    .tw{
        display: none;
    }
    .ml,
    #ttt{
        display: none;
    }
    .do{
        padding-left: 0;
        display: block;
        padding-right: 0;
    }
    .navigation{
        width: 8.3%;
        height: 17.5vh;
    }
    .first{
        font-size: 20px;
        display: flex;
        margin-left: -10px;
        margin-top: -18px;
        margin-right: 0;
    }
    .second{
        display: flex;
        font-size: 20px;
        padding-left: 20px;
        margin-top: -13px;
        margin-left: 0;
        margin-right: 0;
    }
    .t1{
        font-size: 14px;
        font-weight: 400;
        color: #424e4e;
        padding-left: 10px;
        padding-top: 6px;
    }
    #input{
        height: 5.3vh;
        width: 40vh;
        font-size: 14px;
        margin-left: -205px;
        color: lightgrey;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        margin-top: -80px;
    }
    .third{
        display: block;
        font-size: 20px;
        color: #007168;
        margin-top: -18px;
        margin-left: 0;
    }
    header{
        width: 76.3%;
    }
    .content{
        margin-left: -6px;
        margin-top: 0;
        width: 74.9%;
    }
    #pic{
        height: 80px;
    }
    .magnefyne{
        padding: 15px;
        padding-top: 9px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        height: 2.2vh;
        padding-bottom: 15px;
        margin-top: -80px;
    }
    .button2{
        margin-left: 24px;
        padding: 8px;
        margin-right: -12px;
        margin-top: -20px;
    }
    .mb2{
        font-size: 12px;
        font-weight: 600;
        text-align: left;
        margin-left: 0;
        padding-left: 10px;
        padding-bottom: 6px;
        background-color: #f3f6f5 !important;
    }
    .oraga{
        width: 74%;
    }
    #org{
        margin-top: -15px;
    }
    .b{
        font-size: 12px;
        font-weight: 300;
        padding-top: 30px;
        margin-left: 0;
        padding-left: 10px;
        padding-bottom: 10px;
        background-color: #f3f6f5 !important;
    }
    .slider{
        top: 11.05%;
        width: 480px;
        margin-left: -270px;
        height: 400px;
        left: 76.5%;
    }
    .img1{
        margin-right: 20px;
    }
    #br,
    .sort,
    .ho,
    .po,
    .so,
    .date,
    .filter,
    .head,
    .bangla,
    .post{
        display: none;
    }
    .images{
        width: 500px;
        height: 425px;
        padding-left: 70px;
        display: flex;
        padding-right: 20px;
        animation: slide-in 20s infinite;
      }
      .pg{
        display: block;
        color: #afb7ad;
      }
    /*  @keyframes slide-in{
        0%{
          transform: translateX(0);
        }
        25%{
          transform: translateX(0%);
        }
        50%{
          transform: translateX(-55%);
        }
        /* 60%{
          transform: translateX(-250%);
        } */
       /* 75%{
            transform: translateX(-110%);
        }
        100%{
            transform: translateX(-170%);
        }
    
    } */
    .l{
        display: none;
    }
    .counting{
        margin-left: 0;
    }
    .n1{
        font-size: 14px;
        display: flex;
        justify-content: space-between;
    }
    .div{
        width: 84%;
    }
    .new{
        margin-top: 20px;
    }
    .about{
        margin-left: -160px;
    }
    .para{
        margin-left: -160px;
    }
    .o{
        margin-top: 430px;
        margin-left: 0;
        width: 126%;
    }
    .text{
        font-size: 30px;
    }
    .k{
        font-size: 14px;
    }
    .tk{
        font-size: 14px;
    }
    .mem{
        font-size: 10px;
        padding-top: -10px;
        margin-top: 0;
    }
    .app{
        font-size: 14px;
        font-weight: 800;
        margin-bottom: 0;
    }
    .d{
        margin-left: 170px;
    }
    .down{
        font-size: 14px;
        padding-bottom: 20px;
    }
    .from{
        display: none;
    }
    .i1{
        height: 39px;
    }    
    .i2{
        height: 40px;
    }
    .i{
        margin-top: 20px;
        margin-left: 0;
    }
    .nw{
        background-color: #fff;
        margin-left: -12px;
        padding: 18px;
        font-size: 18px;
        width: 69%;
    }
    .fb{
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 15px;
        font-weight: 600;
    }
    .messeg,
    .conn{
        display: none;
    }
    .cd{
        display: none;
    }
    .ban{
        display: block;
        margin-top: 40px;
        border: 1px solid #007168;
        padding: 7px;
        font-size: 26px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 101px;
        margin-right: 255px;
        color: #0074ba;
        border-radius: 7px;
    }
    .ot{
        margin-top: 20px;
        font-size: 26px;
        font-weight: 600;
    }
    .t{
        font-size: 14px;
        font-weight: 600;
    }
    .div2{
        display: none;
    }
    .div3{
        display: block;
    }
    .div3{
        height: 1px;
        width: 238.1%;
        margin-left: -375px;
        background-color: gray;
        margin-top: 30px;
        margin-bottom: 30px;
    }   
    .copy{
        display: none;
    }
    .p1{
        font-size: 14px;
        color: #2f3432;
        font-weight: 700;
    }
    .ano{
        display: block;
        text-align: center;
        font-size: 14px;
        border: 1px solid #007168;
        padding: 3px;
    }
    .amo{
        display: block;
        font-size: 14px;
        color: #0074ba;
        text-align: center;
        margin-bottom: 20px;
    }
    .conne{
        display: none;
    }
    .footer{
        display: inline-block;
        margin-left: 0;
        margin-right: 0;
    }
}