body{
    font-family: 'Open Sans', sans-serif;   
    position: relative;
    display: inline-block;
    background-color:#e7edee !important;
}
header{
    background-color: #149777;
    margin-top: -7.6px;
    margin-left: -7.6px;
    margin-right: -8.5px;
}
nav{
    display: flex;
    height: 63px;
}
.head{
    color: #fff;
    display: flex;
}
#heads{
    color: #fff;
    display: flex;
    font-size: 15px;
    font-weight: 700;
    padding-left: 23px;
    padding-top: 23px;
    cursor: pointer;
}
.bangla{
    color: #fff;
    padding-top: 0;
    border: 1px solid #007168;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 12px;
    padding-top: 7px;
    padding-right: 12px;
    border-radius: 4px;
    cursor: pointer;
}
.hr2{
    display: none;
}
.pi2{
    display: none;
}
hr{
    width: 100%;
}
.post{
    background-color: #ffc800;
    color: #673500;
    border-radius: 5px;
    font-weight: 900;
    margin-left: 40px;
    margin-top: 9px;
    margin-bottom: 9px;
    font-size: 14px;
    font-weight: 700;
    padding: 13px 14.5px;
    padding-top: 16px;
    padding-bottom: 14px;
}
.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6.7vh;
    height: 23vh;
}
.hr1{
    display: none;
}
.for{
    display: none;
}
.i{
    display: flex;
    margin-top: 12px;
}
.i1{
    height: 52px;
    padding-right: 15px;
}
.i2{
    height: 52px;
}
.ad{
    font-size: 17px;
    color: #707676;
    padding-top: 10px;
}
.j{
    display: flex;
    margin-top: 7px;
    margin-bottom: 15px;
}
.about{
    color: #707676;
    font-size: 14px;
    line-height: 1.71428571;
}
.div{
    height: 2px;
    width: 101.1%;
    margin-left: -8px;
    background-color: #149777;
}
.div2{
    height: 1px;
    padding-right: 195px;
    padding-left: 220px;
    margin-left: -7px;
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;

}
.ulti{
    margin: 0;
    background-color: #ffffff;
}
.down{
    color: #424e4e;
    font-size: 17px;
    padding-bottom: 10px;
}
.fb{
    display: flex;
}
.t{
    color: #3b5999;
    font-weight: 700;
    font-size: 17px;
}
.d{
    margin-right: 70px;
    font-size: 14px;
    margin-left: 28px;
}
.footer{
    display: flex;
    padding-left: 191px;
    margin-top: 0;
    padding-top: 17px;
    align-items: flex-start;
    background-color: #ffffff;
    margin-left: -7px;
    margin-right: -7px;
}
.from{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 64.5px;
    margin-top: 0;
    line-height: 1.8;
}
#fro{
    margin-right: 82px;
}
#orm{
    margin-right: 97px;
}
.di{
    background-color: 3px solid red;
    margin-top: 20px;
    margin-bottom: 20px;
}
.copy{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    background-color: #ffffff;
    margin-top: -1px;
    margin-left: -7px;
    margin-right: -7px;
    padding-left: 3px;
}
.call_chat{
    display: none;
}
.hr{
    display: none;
}
.cd{
    padding-top: 10px;
    padding-bottom: 12px;
    margin-left: 215px;
    font-size: 17px;
    letter-spacing: 0.03em;
}
.a{
    width: 100%;
    margin-top: 10px;
    font-size: 17px;
}
#a{
    color: #0074ba;
}
.l{
    margin-top: 50px;
    display: grid;
    padding-top: 35px;
    padding-bottom: 35px;
    grid-template-columns: repeat(4,1fr);
    padding-left: 202px;
    padding-right: 188px;
    background-color: #f3f5f6;
}
.c5{
    font-size: 17px;
    color: #424e4e;
}
.line2{
    display: none;
}
.llast{
    margin-left: 10px;
    margin-right: 10px;
}
.ss1{
    font-size: 15px;
    color: #646666;
}
.hum{
    display: none;
}
.co{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding-top: 0;
    padding-left: 11px;
    cursor: pointer;
}
.message{
    padding-top: 3px;
}
#seg{
    padding-top: 18px;
    margin-left:25px
}
#mes{
    padding-top: 0;
    margin-left: -43px;
}
.message2{
    display: none;
}
.do{
    padding-left: 164px;
    padding-top: 4px;
}
.do2{
    display: none;
}
.t1{
    color: #2f3432;
    font-size: 14px;
    font-weight: 700;
}
.amo,
.ano{
    display: none;
}
.oo{
    display: flex;
    margin-left: 435px;
}
.line{
    margin-left: 44px;
    font-size: 15px;
    color: #424e4e;
    margin-top: 42px;
    margin-bottom: 22px;
}
#i{
    margin-top: 25px;
    margin-left: 16px;
    width: 97%;
}
.similar{
    color: #424e4e;
    background-color: #ffffff;
    border-radius: 3px;
    margin-left: 42px;
    margin-right: 22px;
}
.si{
    color: #2f3432;
    font-weight: 700;
    padding-left: 2px;
    padding-top: 20px;
    margin-left: 15px;
    font-size: 22px;
    display: block;
}
.time{
    margin-left: 300px;
    margin-top: 0;
}
.time2{
    margin-left: 280px;
    margin-top: 0;
}
.h{
    color: #d5e1e6;
}
.taka{
    color: #009877;
    font-weight: 700;
    font-size: 17px;
}
.element{
    display: flex;
    margin-top: 10px;
    margin-left: 65px;
    margin-bottom: 30px;
}
.text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.elements{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.li1{
    bottom:32.6%;
    left: 14%;
    margin-left: 6px;
    margin-right: 10px;
    text-align: center;
    position: absolute;
    display: inline-block;
}
.le21{
    display: flex;
    margin-left: 85%;
    text-align: center;
    padding-bottom: 20px;
}
.li2{
    bottom:32.6%;
    left: 84.5%;
    margin-left: 10px;
    margin-right: 6px;
    text-align: center;
    position: absolute;
    display: inline-block;
}
.main_content{
    margin-left: 170px;
    margin-right: 170px;
}
.p1{
    font-weight: 700;
    font-size: 17px;
    color: #424e4e;
}
.p3{
    margin-top: 12px;
    font-size: 23px;
    margin-left: 5px;
}
.bol{
    font-family: 'Open Sans', sans-serif;   
}
.first{
    display: flex;
    flex-direction: column;
}
.po{
    font-size: 17px;
    margin-top: -7px;
    padding-top: 5px;
    color: #707676;
    margin-left: 6px;
}
.firs{
    display: flex;
    margin: 10px;
}
.two{
    padding-left: 30px;
}
.on:hover~.card{
    display: block;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    left: 90;
    margin-left: -80px;
    top: 50;
    color: #424e4e;
    display: none;
}
.ee{
    display: flex;
    margin: 8px;
}
.tw{
    margin-top: 16px;
    margin-right: 5px;
    padding-left: 610px;
}
.mi{
    background-color: #e7edee;
    margin-left: 16px;
    margin-right: 10px;
    margin-top: 10px;
}
.on,
.two{
    margin-top: 10px;
    color: grey;
    cursor: pointer;
}
.sold{
    color: #707676;
    font-size: 17px;
}
.sale{
    display: flex;
    flex-direction: column;
}
.content{
    background-color: #ffffff;
    margin-left: 44px;
    border-radius: 3px;
    margin-right: 23px;
}
.sh,
.sa{
    font-size: 17px;
    
    color: #424e4e;
}
.sale{
    border-bottom: 1px solid #e7edee;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
}
.tip{
    color: #0074ba;
    font-size: 15px;
    padding-left: 20px;
}
.meet{
    color: grey;
    font-size: 17px;
}
.s{
    font-size: 18px;
    font-weight: 700;
    padding-left: 7px;
}
.safe2{
    display: none;
}
.te{
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    border: 1px solid lightgray;
    }
.safe{
    border: 1px solid  #4cb0c1;
    margin-top: 10px;
    padding-right: 70px;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 22vh;
}
.i21{
    display: flex;
    margin-top: 15px;
}
.le1{    
    color: grey;
    padding-top: 35px;
    margin-left: 20px;
}
.le3{
    margin-left: 20px;
}
.le2{    
    color: grey;
    padding-top: 35px;
    margin-left: 290px;
}
.xt{
    margin-top: 10px;
    width: 100%;
    margin-right: 10px;
}
.show_more{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    color: grey;
    margin-left: 0;
    text-align: center;
}
.saf,
.tip{
    padding-left: 10px;
}
.saf{
    padding-top: 20px;
}
.tip{
    font-size: 17px;
    padding-left: 39px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.xt{
    position: sticky;
    top:0;
}
.te{
    border-radius: 5px;
}
.hard{
    display: flex;
}
.pi{
    
    margin-left: 150px;
    margin-right: 150px;
    display: inline-block;
}
.tk2{
    color: #009877;
    font-size: 30px;
    margin-left: 19px;
    padding-bottom: 15px;
}
.description{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: grey;
    margin-left: 20px;
    margin-top: 15px;
}
.description2{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-left: 20px;
    color: grey;
    margin-top: 20px;
}
.message3{
    display: none;
}
.pri{
    color: grey;
    font-size: 14px;
    margin-left: 60px;
    padding-top: 100px;
}
.a1{
    color: #d5e1e6;
    margin-left: 20px;
    position: absolute;
    width: 72.5%;
    margin-top: 0;
}
.three{
    margin-top: 30px;
    padding-bottom: 12px;
}
.oe{
    font-family: 'Open Sans', sans-serif;   
    color: #673500;
    background-color: #ffc800;
    border: 1px #ffc800;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
    margin-left: 20px;
    margin-bottom: 25px;
    font-size: 17px;
    margin-top: 5px;
    font-weight: 900;
}
.gr{
    font-family: 'Open Sans', sans-serif;   
    color: #424e4e;
    font-size: 17px;
    padding-left: 25px;
}
.go{
    font-size: 20px;
}
.po2{
    color: #707676;
    font-weight: 600;
}
#t2{
    color: #0074ba;
    font-weight: 400;
    padding-bottom: 18px;
}
.first2,
.p32,
.po2{
    display: none;
}
.m{
    display: none;
}
.conne{
    color: #424e4e;
    font-weight: 700;
    font-size: 17px;
}
.pri,
.des,
.u4{
    font-size: 17px;
    line-height: 2;
}















@media (max-width:600px){
    body{
        
        background-color: #ffffff;
    }
    .popular,
    .three,
    .footer{
        background-color: #ffffff;
    }
    .message,
    .hum{
        display: block;
        color: #ffffff;
        font-size: 18px;
        padding-left: 20px;
        padding-top: 15px;
    }
    /* .oo{
        margin-left: 50px;
    } */
    .message{
        padding-left: 20px;
    }
    .do{
        padding-left: 10px;
        display: block;
        padding-top: 2px;
    }
    .navigation{
        width: 10%;
        height: 35vh;
    }
    header{
        width: 400px;
        height: 55px;
    }
    .head,
    .bangla,
    .post{
        display: none;
    }
    .l{
        display: none;
    }
    .popular{
        display: flex;
        justify-content: space-between;
        color: #2f3432;
        font-size: 14px;
        font-weight: 600;
        padding-top:15px;
        padding-bottom:15px;
    }
    .div{
        margin-top: 20px;
        width: 90.5%;
    }
    .d{
        margin-left: 170px;
    }
    .down{
        font-size: 14px;
        padding-bottom: 20px;
        margin-left: -80px;
    }
    #heads{
        display: none;
    }
    .from{
        display: none;
    }
    .i1{
        height: 39px;
    }    
    .i2{
        height: 40px;
    }
    .go,
    .ad,
    .taka,
    .time,
    .time2{
        font-size: 14px;
    }
    .i{
        margin-top: 20px;
        margin-left: -65px;
    }
    .go,
    .taka{
        margin-top: 6px;
    }
    #i{
        margin-top: 15px;
        width: 91.5%;
    }
    .fb{
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 15px;
        font-weight: 600;
        margin-left: -15px;
    }
    .conn{
        display: none;
    }
    .cd{
        display: none;
    }
    .t{
        font-size: 14px;
        font-weight: 600;
        text-align: center;
    }
    .div2{
        display: none;
    }
    .copy{
        display: none;
    }
    .p1{
        font-size: 14px;
        color: #2f3432;
        font-weight: 700;
        text-align: center;
        margin-left: -74px;
    }
    .similar{
        margin-left: -5px;
        margin-top: -5px;
        width: 89.9%;
    }
    .si{
        font-size: 14px;
    }
    .ano{
        display: block;
        font-size: 14px;
        color: #0074ba;
        padding: 3px;
        margin-left: -70px;
    }
    .amn{
        color: #707676;
    }
    #t2{
        padding-bottom: 100px;
        text-align: left;
        /* margin-left: -100px; */
        margin-left: 8.5px;
    }
    .li1,
    .li2,
    .le21{
        display: none;
    }
    .amo{
        display: block;
        font-size: 14px;
        color: #0074ba;    
        margin-bottom: 20px;
        margin-left: -88px;
    }
    .pi{
        margin-top: 0;
        height: 250px;
        width: 175px;
        overflow: hidden;
        display: none;
    }   
    .safe2{
        border: 1px solid #4cb0c1;
        border-radius: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 15px;
        display: block;
        font-size: 12px;
    }
    .line2{
        display: block;
        color: #646666;
        overflow-x: auto;
        font-size: 12px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .s,
    .meet,
    .tip{
        font-size: 14px;
    }
    .pi2{
        display: block;
        margin-top: 1px;
        margin-left: 160px;
        margin-right: 0;
    }
    .time,
    .time2{
        margin-left: 207px;
    }
    #resize{
        height: 80px;
    }
    .call_chat{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        position: fixed;
        bottom: 7px;
        margin-bottom: 10px;
    }
    .u4{
        font-size: 14px;
    }
    .pp{
       height: 30px; 
    }
    .chat{
        border:none;
        background-color:  #149777;
        color: #ffffff;
        font-size: 18px;
        padding: 8px 15px;
        margin-left: 4px;
        margin-right: 5px;
        border-radius: 4px;
        padding-left: 65.5px;
        padding-right: 65.5px;
    }
    .i21{
        display: none;
    }
    .call{
        border:none;
        background-color: #149777;
        color: #ffffff;
        font-size: 18px;
        padding: 8px 15px;
        margin-left: 5px;
        margin-right: 4px;
        padding-left: 65.5px;
        padding-right: 65.5px;
        border-radius: 4px;
    }
    .content{
        margin-left: -5px;
        width: 89.9%;
        background-color: #ffffff;
    }
    .elements{
        grid-template-columns: repeat(1,1fr);
    }
    .element{
        margin-left: 15px;
    }
    .conne{
        display: none;
    }
    .footer{
        width:89%;
        margin-left: -6px;
        padding-left: 5px;
        justify-content: center;
        text-align: center;
        margin-right: 0;
    }
    .message2{
        padding-top: 14px;
        display: block;
        color: #ffffff;
        font-size: 24px;
        padding-left: 15px;
    }
    .message3{
        padding-top: 14px;
        display: block;
        color: #ffffff;
        font-size: 24px;
        padding-left: 21px;
    }
    .oo{
        margin-left:  105px;
    }
    .p3,
    .po,
    .xt,
    .tw,
    .line{
        display: none;
    }
    .mi{
        margin: 0;
        margin-left: -51px;
        margin-right: -88px;
    }
    .hard{
        display: inline-block;
        margin-top: -21px;
    }
    .main_content{
        margin: 0;
    }
    .first2,
    .p32,
    .po2{
        display: block;
    }
    .first2{
        width: 73.9%;
        margin-top: -4px;
        margin-left: 44px;
        padding-left: 7px;
        padding-top: 8px;
        padding-bottom: 20px;
        background-color: #fff;
    }
    .p32{
        font-size: 16px;
        margin-left: 10px;
    }
    .po2{
        font-size: 12px;
        margin-left: 10px;
    }
    .hr{
        display: block;
        color: #d5e1e6;
        margin-left: 62px;
        width: 69.3%;
        margin-top: -2px;
    }
    #des{
        color: #000000;
        font-weight: 700;
        margin-top: 0;
    }
    .des{
        padding-bottom: 7px;
        margin-left: -12px;
    }
    .tk2{
        font-size: 20px;
        margin-left: 10px;
        margin-bottom: 0;
        padding-bottom: 5px;
    }
    .for{
        display: block;
        font-size: 14px;
        margin-left: 10px;
        color: grey;
    }
    .u{
        margin-left: 215px;
        text-decoration: dotted;
        color: #000000;
    }
    .u1{
        margin-left: 240px;
        text-decoration: dotted;
        color: #000000;
    }
    .u2{
        margin-left: 238px;
        text-decoration: dotted;
        color: #000000;
    }
    .u3{
        margin-left: 201px;
        text-decoration: dotted;
        color: #000000;
    }
    .des{
        font-size: 14px;
    }
    .u4{
        padding-top: 0;
        margin-left: -10px;
    }
    .three{
        display: flex;
        padding-bottom: 20px;
        flex-direction: column;
    }
    .oe{
        width: 94%;
        margin-left: 9px;
        font-size: 14px;
        font-weight: 600;
    }
    .pri{
        margin-left: 110px;
        font-size: 14px;
        padding-top: 0;
    }
    .gr{
        padding-left: 136px;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;   
    }
    .a1{
        color: #d5e1e6;
        margin-left: 12px;
        width: 82.1%;
    }
    .m{
        display: block;
        /* background-color: #e7edee; */
        background-color: #f3f6f5;
        width: 90.5%;
        margin-left: -7px;
        
    }
    .popular{
        padding-left: 13px;
        background-color: #f3f6f5;
        border-top: 1px #d3d4d9;
        padding-right: 15px;
    }
    .hr1{
        color: #f3f5f6;
        background-color: #f3f6f5;
        display: block;
        margin-left: 13px;
        width: 94%;
    }
    .hr2{
        display: block;
        color: #d5e1e6;
        margin-left: -152px;
        width: 197.5%;
    }
}