body{
    font-family: 'Open Sans', sans-serif;   
    position: relative;
    display: inline-block;
    background-color:#e7edee !important;
}
header{
    background-color: #149777;
    margin-top: -7.6px;
    margin-left: -7.6px;
    margin-right: -8.5px;
}
nav{
    display: flex;
}
.head{
    color: #fff;
    display: flex;
}
.bangla{
    color: #fff;
    border: 1px solid #007168;
    font-size: 12px;
    margin-left: 23px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 7px 12px;
    border-radius: 4px;
    cursor: pointer;
}
hr{
    width: 100%;
}
.post{
    background-color: #ffc800;
    color: #673500;
    border-radius: 5px;
    font-weight: 900;
}
.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6.7vh;
    height: 23vh;
}
.i{
    display: flex;
    margin-top: 3px;
}
.i1{
    height: 45px;
    padding-right: 15px;
}
.i2{
    height: 45px;
}
.j{
    display: flex;
    margin-top: 7px;
    margin-bottom: 15px;
}
.about{
    color: #707676;
    font-size: 14px;
    line-height: 1.71428571;
}
.div{
    height: 2px;
    width: 101.1%;
    margin-left: -8px;
    background-color: #007168;
}
.div2{
    height: 1px;
    width: 80.5%;
    margin-left: 167px;
    background-color: gray;
    margin-top: 30px;
    margin-bottom: 30px;
}
.down{
    color: #424e4e;
    font-size: 14px;
}
.fb{
    display: flex;
}
.t{
    color: #3b5999;
}
.d{
    margin-right: 80px;
}
.footer{
    display: flex;
    margin-left: 167px;
    margin-top: 17px;
    align-items: flex-start;
}
.from{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    margin-top: 20px;
    line-height: 1.8;
}
.di{
    background-color: 3px solid red;
    margin-top: 20px;
    margin-bottom: 20px;
}
.copy{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.cd{
    margin-left: 195px;
    font-size: 15px;
}
.a{
    height: 10px solid red;
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
}
.l{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 170px;
    margin-right: 190px;
}
.c5{
    font-size: 14px;
    color: #2f3432;
}
.llast{
    margin-left: 10px;
    margin-right: 10px;
}
.ss1{
    font-size: 12px;
    color: #2f3432;
}
.hum{
    display: none;
}
.co{
    font-size: 12px;
    padding-top: -13px;
    padding-left: 9px;
}
.message{
    display: none;
}
.do{
    padding-left: 155px;
}
.do2{
    display: none;
}
.t1{
    color: #2f3432;
    font-size: 14px;
    font-weight: 700;
}
.amo,
.ano{
    display: none;
}
.oo{
    display: flex;
    margin-left: 395px;
}
.line{
    font-size: 12px;
    color: #424e4e;
    margin-top: 31px;
    margin-bottom: 19px;
}
.similar{
    color: #424e4e;
    background-color: #ffffff;
    border-radius: 3px}
.si{
    color: #2f3432;
    padding-top: 10px;
    margin-left: 15px;
    display: block;
}
.time{
    margin-left: 175px;
    margin-top: 20px;
}
.time2{
    margin-left: 190px;
    margin-top: 20px;
}
.h{
    color: #2f3432;
}
.taka{
    color: #007168;
    font-weight: 600;
}
.element{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
}
.text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.elements{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.main_content{
    margin-left: 170px;
    margin-right: 170px;
}
.p1{
    margin-left: 63px;
}
.p3{
    font-size: 22px;
}
.first{
    display: flex;
    flex-direction: column;
}
.po{
    font-size: 14px;
    margin-top: 0;
    padding-top: 5px;
}
.firs{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.two{
    padding-left: 30px;
}
.tw{
    margin-top: 9px;
}
.on,
.two{
    color: grey;
}
.content{
    background-color: #ffffff;
}
.sh,
.sa{
    font-size: 14px;
    color: grey;
}
.sale{
    border: 1px solid grey;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.tip{
    color: #0074ba;
    font-size: 14px;
}
.meet{
    color: grey;
    font-size: 14px;
}
.s{
    font-size: 14px;
    font-weight: 600;
}
.te{
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    }
.safe{
    border: 1px solid  #0074ba;
    margin-top: 10px;
    padding-right: 70px;
    border-radius: 3px;
}
.i21{
    display: flex;
}
.le1{    
    color: grey;
    padding-top: 35px;
    margin-left: 20px;
}
.le3{
    margin-left: 35px;
}
.le2{    
    color: grey;
    padding-top: 35px;
    margin-left: 290px;
}
.xt{
    margin-right: 15px;
}
.saf,
.tip{
    padding-left: 10px;
}
.saf{
    padding-top: 20px;
}
.tip{
    padding-bottom: 20px;
}
.xt{
    position: sticky;
    top:0;
}
.te{
    border-radius: 5px;
}
.hard{
    display: flex;
}
.pi{
    margin-left: 150px;
    margin-right: 150px;
    display: inline-block;
}
.tk2{
    color: #009877;
    font-size: 24px;
    margin-left: 19px;
}






@media (max-width:600px){
    .message,
    .hum{
        display: block;
        color: #ffffff;
        font-size: 18px;
        padding-left: 20px;
        padding-top: 15px;
    }
    .oo{
        margin-left: 310px;
    }
    .message{
        padding-left: 20px;
    }
    .do{
        padding-left: 0;
        display: block;
        padding-right: 0;
    }
    .navigation{
        width: 10%;
        height: 33.3vh;
    }
    header{
        width: 600px;
    }
    .head,
    .bangla,
    .post{
        display: none;
    }
    .l{
        display: none;
    }
    .div{
        width: 84%;
    }
    .d{
        margin-left: 170px;
    }
    .down{
        font-size: 14px;
        padding-bottom: 20px;
    }
    .from{
        display: none;
    }
    .i1{
        height: 39px;
    }    
    .i2{
        height: 40px;
    }
    .i{
        margin-top: 20px;
        margin-left: 0;
    }
    .fb{
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 15px;
        font-weight: 600;
    }
    .conn{
        display: none;
    }
    .cd{
        display: none;
    }
    .t{
        font-size: 14px;
        font-weight: 600;
    }
    .div2{
        display: none;
    }
    .copy{
        display: none;
    }
    .p1{
        font-size: 14px;
        color: #2f3432;
        font-weight: 700;
    }
    .ano{
        display: block;
        text-align: center;
        font-size: 14px;
        border: 1px solid #007168;
        padding: 3px;
    }
    .amo{
        display: block;
        font-size: 14px;
        color: #0074ba;
        text-align: center;
        margin-bottom: 20px;
    }
    .conne{
        display: none;
    }
    .footer{
        display: inline-block;
        margin-left: 0;
        margin-right: 0;
    }
}