body{
    font-family: 'Open Sans', sans-serif;   
    position: relative;
    display: inline-block;
    background-color:#e7edee !important;
}
header{
    background-color: #149777;
    margin-top: -7.6px;
    margin-left: -7.6px;
    margin-right: -8.5px;
}
nav{
    display: flex;
    height: 70px;
}
.head{
    color: #fff;
    display: flex;
}
.bangla{
    color: #fff;
    padding-top: 3px;
    border: 1px solid #007168;
    font-size: 13px;
    line-height: 1.6;
    margin-left: 27px;
    margin-top: 17px;
    margin-bottom: 17px;
    padding: 7px 13.5px;
    border-radius: 4px;
    cursor: pointer;
}
.pi2{
    display: none;
}
hr{
    width: 100%;
}
.post{
    background-color: #ffc800;
    color: #673500;
    border-radius: 5px;
    font-weight: 900;
}
.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6.7vh;
    height: 23vh;
}
.for{
    display: none;
}
.i{
    display: flex;
    margin-top: 12px;
}
.i1{
    height: 43px;
    padding-right: 15px;
}
.i2{
    height: 43px;
}
.j{
    display: flex;
    margin-top: 7px;
    margin-bottom: 15px;
}
.about{
    color: #707676;
    font-size: 14px;
    line-height: 1.71428571;
}
.div{
    height: 2px;
    width: 101.1%;
    margin-left: -8px;
    background-color: #149777;
}
.div2{
    height: 1px;
    padding-right: 166px;
    padding-left: 190px;
    margin-left: -7px;
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;

}
.ulti{
    margin: 0;
    background-color: #ffffff;
}
.down{
    color: #424e4e;
    font-size: 15px;
    padding-bottom: 10px;
}
.fb{
    display: flex;
}
.t{
    color: #3b5999;
    font-weight: 700;
    font-size: 17px;
}
.d{
    margin-right: 80px;
    font-size: 14px;
}
.footer{
    display: flex;
    padding-left: 191px;
    margin-top: 0;
    padding-top: 17px;
    align-items: flex-start;
    background-color: #ffffff;
    margin-left: -7px;
    margin-right: -7px;
}
.from{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    margin-top: 0;
    line-height: 1.8;
}
.di{
    background-color: 3px solid red;
    margin-top: 20px;
    margin-bottom: 20px;
}
.copy{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    background-color: #ffffff;
    margin-top: -1px;
    margin-left: -7px;
    margin-right: -7px;
    padding-left: 3px;
}
.call_chat{
    display: none;
}
.hr{
    display: none;
}
.cd{
    margin-left: 185px;
    font-size: 16px;
    letter-spacing: 0.03em;
}
.a{
    width: 100%;
    margin-top: 10px;
    font-size: 17px;
}
#a{
    color: #0074ba;
}
.l{
    margin-top: 50px;
    display: grid;
    padding-top: 35px;
    padding-bottom: 35px;
    grid-template-columns: repeat(4,1fr);
    padding-left: 178px;
    padding-right: 158px;
    background-color: #f3f5f6;
}
.c5{
    font-size: 14px;
    color: #2f3432;
}
.llast{
    margin-left: 10px;
    margin-right: 10px;
}
.ss1{
    font-size: 12px;
    color: #2f3432;
}
.hum{
    display: none;
}
.co{
    font-size: 13px;
    padding-top: 1px;
    padding-left: 16px;
    cursor: pointer;
}
.message2{
    display: none;
}
.do{

    padding-left: 180px;
}
.do2{
    display: none;
}
.t1{
    color: #2f3432;
    font-size: 14px;
    font-weight: 700;
}
.amo,
.ano{
    display: none;
}
.oo{
    display: flex;
    margin-left: 435px;
}
.line{
    margin-left: 20px;
    font-size: 13px;
    color: #424e4e;
    margin-top: 37px;
    margin-bottom: 22px;
}
.similar{
    color: #424e4e;
    background-color: #ffffff;
    border-radius: 3px;
    margin-left: 19px;
}
.si{
    color: #2f3432;
    padding-top: 10px;
    margin-left: 15px;
    display: block;
}
.time{
    margin-left: 175px;
    margin-top: 20px;
}
.time2{
    margin-left: 190px;
    margin-top: 20px;
}
.h{
    color: #2f3432;
}
.taka{
    color: #007168;
    font-weight: 600;
}
.element{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
}
.text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.elements{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.main_content{
    margin-left: 170px;
    margin-right: 170px;
}
.p1{
    font-weight: 800;
    font-size: 15px;
    color: #424e4e;
}
.p3{
    margin-top: 9px;
    font-size: 22px;
    margin-left: 4px;
}
.first{
    display: flex;
    flex-direction: column;
}
.po{
    font-size: 15px;
    margin-top: -10px;
    padding-top: 5px;
    color: #707676;
    margin-left: 3px;
}
.firs{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.two{
    padding-left: 30px;
}
.on:hover~.card{
    display: block;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    left: 90;
    margin-left: -80px;
    top: 50;
    color: #424e4e;
    display: none;
}
.ee{
    display: flex;
    margin: 8px;
}
.tw{
    margin-top: 16px;
    margin-right: 5px;
}
.mi{
    background-color: #e7edee;
    margin-left: 10px;
    margin-right: 10px;
}
.on,
.two{
    margin-top: 10px;
    color: grey;
    cursor: pointer;
}
.sold{
    color: #707676;
    font-size: 15px;
}
.sale{
    display: flex;
    flex-direction: column;
}
.content{
    background-color: #ffffff;
    margin-left: 20px;
    border-radius: 3px;
}
.sh,
.sa{
    font-size: 15px;
    color: #424e4e;
}
.sale{
    border-bottom: 1px solid grey;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
}
.tip{
    color: #0074ba;
    font-size: 15px;
    padding-left: 20px;
}
.meet{
    color: grey;
    font-size: 14px;
}
.s{
    font-size: 15px;
    font-weight: 800;
    padding-left: 5px;
}
.te{
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    border: 1px solid lightgray;
    }
.safe{
    border: 1px solid  #0074ba;
    margin-top: 10px;
    padding-right: 70px;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.i21{
    display: flex;
    margin-top: 15px;
}
.le1{    
    color: grey;
    padding-top: 35px;
    margin-left: 20px;
}
.le3{
    margin-left: 35px;
}
.le2{    
    color: grey;
    padding-top: 35px;
    margin-left: 290px;
}
.xt{
    width: 100%;
    margin-right: 10px;
}
.show_more{
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 15px;
    color: grey;
    text-align: center;
}
.saf,
.tip{
    padding-left: 10px;
}
.saf{
    padding-top: 20px;
}
.tip{
    padding-bottom: 20px;
}
.xt{
    position: sticky;
    top:0;
}
.te{
    border-radius: 5px;
}
.hard{
    display: flex;
}
.pi{
    margin-left: 150px;
    margin-right: 150px;
    display: inline-block;
}
.tk2{
    color: #009877;
    font-size: 24px;
    margin-left: 19px;
}
.description{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: grey;
    margin-left: 20px;
}
.description2{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-left: 20px;
    color: grey;
    margin-top: 20px;
}
.message3{
    display: none;
}
.pri{
    color: grey;
    font-size: 14px;
    margin-left: 60px;
    padding-top: 100px;
}
.a1{
    color: lightgrey;
    margin-left: 20px;
}
.oe{
    color: #673500;
    background-color: #ffc800;
    border: 1px #ffc800;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
    margin-left: 20px;
    margin-bottom: 25px;
    font-size: 15px;
    margin-top: 5px;
}
.gr{
    color: grey;
    font-size: 15px;
    padding-left: 20px;
}
#t2{
    color: #0074ba;
    font-weight: 400;
}
.first2,
.p32,
.po2{
    display: none;
}
.m{
    display: none;
}
.conne{
    color: #424e4e;
    font-weight: 800;
    font-size: 15px;
}







@media (max-width:600px){
    body{
        
        background-color: #ffffff;
    }
    .popular,
    .three,
    .footer{
        background-color: #ffffff;
    }
    .content{
        background-color: #ffffff;
    }
    .message,
    .hum{
        display: block;
        color: #ffffff;
        font-size: 18px;
        padding-left: 20px;
        padding-top: 15px;
    }
    .oo{
        margin-left: 310px;
    }
    .message{
        padding-left: 20px;
    }
    .do{
        padding-left: 12px;
        display: block;
        padding-right: 0;
    }
    .navigation{
        width: 10%;
        height: 35vh;
    }
    header{
        width: 600px;
        height: 55px;
    }
    .head,
    .bangla,
    .post{
        display: none;
    }
    .l{
        display: none;
    }
    .popular{
        display: flex;
        justify-content: space-between;
        color: #2f3432;
        font-size: 14px;
        font-weight: 600;
        padding-top:15px;
        padding-bottom:15px;
    }
    .div{
        width: 84%;
    }
    .d{
        margin-left: 170px;
    }
    .down{
        font-size: 14px;
        padding-bottom: 20px;
    }
    .from{
        display: none;
    }
    .i1{
        height: 39px;
    }    
    .i2{
        height: 40px;
    }
    .i{
        margin-top: 20px;
        margin-left: 0;
    }
    .fb{
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 15px;
        font-weight: 600;
    }
    .conn{
        display: none;
    }
    .cd{
        display: none;
    }
    .t{
        font-size: 14px;
        font-weight: 600;
        text-align: center;
    }
    .div2{
        display: none;
    }
    .copy{
        display: none;
    }
    .p1{
        font-size: 14px;
        color: #2f3432;
        font-weight: 700;
        text-align: center;
    }
    .ano{
        display: block;
        text-align: center;
        font-size: 14px;
        border: 1px solid #007168;
        padding: 3px;
    }
    #t2{
        padding-bottom: 100px;
    }
    .amo{
        display: block;
        font-size: 14px;
        color: #0074ba;    
        margin-bottom: 20px;
    }
    .pi{
        margin-top: 0;
        height: 250px;
        width: 175px;
        overflow: hidden;
        display: none;
    }   
    .pi2{
        display: block;
        margin-top: 2px;
    }
    .time{
        margin-left: 375px;
    }
    .time2{
        margin-left: 365px;
    }
    .call_chat{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        position: fixed;
        bottom: 7px;
    }
    .chat{
        border:none;
        background-color:  #149777;
        color: #ffffff;
        font-size: 18px;
        padding: 8px 15px;
        margin-left: 5px;
        padding-left: 115px;
        border-radius: 4px;
        padding-right: 117px;
    }
    .i21{
        display: none;
    }
    .call{
        border:none;
        background-color: #149777;
        color: #ffffff;
        font-size: 18px;
        padding: 8px 15px;
        margin-right: 5px;
        padding-left: 115px;
        padding-right: 117px;
        border-radius: 4px;
    }
    .content{
        background-color: #ffffff;
    }
    .elements{
        grid-template-columns: repeat(1,1fr);
    }
    .conne{
        display: none;
    }
    .footer{
        margin-left: 0;
        margin-right: 0;
    }
    .message2{
        padding-top: 14px;
        display: block;
        color: #ffffff;
        font-size: 24px;
        padding-left: 15px;
    }
    .message3{
        padding-top: 14px;
        display: block;
        color: #ffffff;
        font-size: 24px;
        padding-left: 19px;
    }
    .oo{
        margin-left:  305px;
    }
    .p3,
    .po,
    .xt,
    .tw,
    .line{
        display: none;
    }
    .mi{
        margin: 0;
        margin-right: -88px;
    }
    .hard{
        display: inline-block;
        margin-top: -21px;
    }
    .main_content{
        margin: 0;
    }
    .first2,
    .p32,
    .po2{
        display: block;
    }
    .p32{
        font-size: 16px;
        margin-left: 10px;
    }
    .po2{
        font-size: 12px;
        margin-left: 10px;
    }
    .hr{
        display: block;
        color: grey;
    }
    .tk2{
        font-size: 20px;
        margin-left: 10px;
    }
    .for{
        display: block;
        font-size: 14px;
        margin-left: 10px;
    }
    .u{
        margin-left: 215px;
        text-decoration: dotted;
        color: #000000;
    }
    .u1{
        margin-left: 240px;
        text-decoration: dotted;
        color: #000000;
    }
    .u2{
        margin-left: 238px;
        text-decoration: dotted;
        color: #000000;
    }
    .u3{
        margin-left: 201px;
        text-decoration: dotted;
        color: #000000;
    }
    .u4{
        padding-top: 10px;
        margin-left: -10px;
    }
    .des{
        padding-bottom: 10px;
        margin-left: -12px;
    }
    .three{
        display: flex;
        padding-bottom: 20px;
        flex-direction: column;
    }
    .oe{
        width: 115%;
        margin-left: 7px;
    }
    .pri{
        margin-left: 170px;
    }
    .gr{
        padding-left: 236px;
    }
    .a1{
        margin-left: 10px;
    }
    .m{
        display: block;
        background-color: #e7edee;
    }
}